body {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

section {
  padding: 60px 0;
}

@media (min-width: 1200px) {
  section {
    padding: 94px 0;
  }
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  display: inline-block;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
}

h2,
h3 {
  font-weight: 700;
  color: #212121;
  letter-spacing: 0.06em;
}

a {
  text-decoration: none;
}

p {
  color: #757575;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

@media (min-width: 320px) {
  .container {
    max-width: 480px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.03em;
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.166;
  display: inline-block;
  color: #212121;
}

.logo .logo__decor {
  color: #2196f3;
}

.icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
  background-color: #2196f3;
  cursor: pointer;
}

.icon-link__image {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover .icon-link__image {
  fill: #fff;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: #2196f3;
  color: #fff;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover {
  -webkit-box-shadow: 0px 0px 2px #ced0f5;
          box-shadow: 0px 0px 2px #ced0f5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

@media (min-width: 768px) {
  .header {
    padding: 19px 0;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 26px 0;
  }
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-toggle {
  outline: none;
}

@media (min-width: 768px) {
  .header__menu-toggle {
    display: none;
  }
}

.header__menu-icon {
  display: block;
  background-color: #fff;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-toggle:hover > .header__menu-icon {
  fill: #2196f3;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-list-item {
  position: relative;
}

.header__nav-list-item:not(:last-child) {
  margin-right: 46px;
}

.header__nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 10px 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link:hover {
  color: #2196f3;
}

.header__nav-link--current {
  color: #2196f3;
}

.header__nav-link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: -30px;
  border-radius: 2px;
}

@media (min-width: 1200px) {
  .header__nav-link--current::after {
    bottom: -31px;
  }
}

.header__contacts-wrapper {
  margin-left: 84px;
}

@media (min-width: 1200px) {
  .header__contacts-wrapper {
    margin-left: 305px;
  }
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 1200px) {
  .header__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact:hover {
  color: #2196f3;
}

@media (min-width: 1200px) {
  .header__contact {
    font-size: 14px;
    line-height: 1.142;
  }
}

.header__contact-icon {
  margin-right: 8px;
  fill: #757575;
}

.header__contacts-item:hover .header__contact-icon {
  fill: #2196f3;
}

@media (max-width: 1199px) {
  .header__contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .header__contacts-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

.modal-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: 48px 40px;
  opacity: 0.5;
  -webkit-transform: perspective(600px) translate(0px, -80%) rotateX(61deg);
          transform: perspective(600px) translate(0px, -80%) rotateX(61deg);
  -webkit-transition: opacity 850ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 850ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 850ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 850ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 850ms cubic-bezier(0.4, 0, 0.2, 1), opacity 850ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 850ms cubic-bezier(0.4, 0, 0.2, 1), opacity 850ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 850ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu.is-open {
  opacity: 1;
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.modal-menu__close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  background-color: #fff;
  height: 40px;
  width: 40px;
}

.modal-menu__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-menu__close:before, .modal-menu__close:after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 25px;
  background-color: #212121;
}

.modal-menu__close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-menu__close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-menu__close-btn:hover > .modal-menu__close:before,
.modal-menu__close-btn:hover > .modal-menu__close:after,
.modal-menu__close-btn:focus > .modal-menu__close:before,
.modal-menu__close-btn:focus > .modal-menu__close:after {
  background-color: #2196f3;
}

.modal-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.modal-menu__page-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.modal-menu__page-link--current {
  color: #2196f3;
}

.modal-menu__page-link:hover {
  text-shadow: 0px 0px 30px rgba(185, 177, 219, 0.767);
}

.modal-menu__contacts {
  margin-bottom: 64px;
}

.modal-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.modal-menu__contact {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.modal-menu__contact:hover {
  text-shadow: 0px 0px 30px rgba(185, 177, 219, 0.767);
}

.modal-menu__contact-tel {
  font-size: 34px;
  line-height: 40px;
  color: #2196f3;
}

.modal-menu__contact-mail {
  font-size: 24px;
  line-height: 28px;
  color: #757575;
}

.modal-menu__soc-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.modal-menu__social-link:hover {
  text-shadow: 0px 0px 30px rgba(185, 177, 219, 0.767);
}

.modal-menu__soc-links-item {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.main-section {
  padding: 118px 15px;
  max-width: 1600px;
  text-align: center;
  background-blend-mode: multiply;
  background-image: url(../images/studio/bg_img.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-section {
    background-image: url("../images/studio/bg_img@2x.jpg");
  }
}

@media (min-width: 1200px) {
  .main-section {
    padding: 200px;
    margin: 0 auto;
  }
}

.main-section__title-main {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .main-section__title-main {
    font-size: 44px;
    line-height: 1.363;
  }
}

@media (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.features__list-item:not(:last-child) {
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .features__list-item {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}

@media (min-width: 1200px) {
  .features__list-item {
    width: calc((100% - 120px) / 4);
  }
}

.features__icon-wrapper {
  background-color: #f5f4fa;
  width: 100%;
}

.features__icon-wrapper {
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 121px;
  width: 100%;
  margin-bottom: 30px;
}

.features__icon {
  width: 70px;
}

.features__title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .features__title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

@media (max-width: 1199px) {
  .making {
    display: none;
  }
}

.making__container {
  text-align: center;
}

.making__title {
  margin-bottom: 48px;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.03em;
}

.making__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.making__list-item {
  position: relative;
  width: 370px;
}

.making__thumb {
  overflow: hidden;
  height: 294px;
}

.making__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.making__title-item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 15px;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

.team__container {
  text-align: center;
}

.team__icon-social-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
}

@media (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__list-item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .team__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .team__list-item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media (min-width: 1200px) {
  .team__list-item {
    width: calc((100% - 120px) / 4);
  }
}

.team__thumb {
  overflow: hidden;
  height: 460px;
}

@media (min-width: 768px) {
  .team__thumb {
    height: 374px;
  }
}

@media (min-width: 1200px) {
  .team__thumb {
    height: 260px;
  }
}

.team__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.team-name {
  padding: 30px 32px 24px;
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  letter-spacing: 0.03em;
}

.team__title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}

.clients__container {
  text-align: center;
}

.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  letter-spacing: 0.03em;
}

.clients__list-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__list-item-link {
  margin: 15px;
  width: calc((100% - 60px) / 2);
}

@media (min-width: 768px) {
  .clients__list-item-link {
    width: calc((100% - 90px) / 3);
  }
}

@media (min-width: 1200px) {
  .clients__list-item-link {
    width: calc((100% - 180px) / 6);
  }
}

.clients__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon-link:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

@media (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 768px) {
  .footer__address-wrapper,
  .footer__social-links {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (min-width: 768px) {
  .footer__subscribe-newsletter {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (min-width: 1200px) {
  .footer__address-wrapper,
  .footer__social-links,
  .footer__subscribe-newsletter {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

.footer__address-wrapper,
.footer__address {
  text-align: center;
}

@media (min-width: 1200px) {
  .footer__address-wrapper,
  .footer__address {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .footer__address-wrapper {
    margin-bottom: 56px;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: #fff;
}

.footer__text-address {
  font-size: 14px;
  line-height: 1.8;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 5px;
}

.footer__contact {
  font-size: 14px;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  letter-spacing: 0.03em;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer__social-links {
    margin-bottom: 61px;
  }
}

@media (min-width: 1200px) {
  .footer__social-links {
    margin-left: 86px;
    margin-right: 93px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
}

.footer__subscribe {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 19px;
}

.footer__links-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 1199px) {
  .footer__subscribe-newsletter {
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .footer__subscribe-newsletter {
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
  .footer__subscribe-newsletter {
    margin-top: 0;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 450px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .footer__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 570px;
    margin: 0;
  }
}

.footer__form-field {
  position: relative;
  width: 100%;
}

@media (max-width: 1199px) {
  .footer__form-field {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .footer__form-field {
    margin-right: 12px;
  }
}

.footer__form-input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #fff;
}

@media (min-width: 1200px) {
  .footer__form-input {
    width: 358px;
  }
}

.footer__form-label {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-field:focus-within > .footer__form-label,
.footer__form-input:not(:placeholder-shown) + .footer__form-label {
  opacity: 0;
}

.footer__subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 27px;
}

.footer__subscribe-btn:hover {
  -webkit-box-shadow: 0px 0px 2px #ced0f5;
          box-shadow: 0px 0px 2px #ced0f5;
}

.footer__telegram-icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 450px;
  min-height: 609px;
  padding: 40px 41px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}

.modal__close-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon:hover {
  fill: #2196f3;
}

.modal__form-field {
  position: relative;
  display: block;
  height: 40px;
  margin-bottom: 28px;
}

.modal__form-field--textarea {
  height: 120px;
  margin: 0;
}

.modal__close-wrapper {
  text-align: center;
}

.modal__data-request {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal__form-input {
  width: 100%;
  height: 100%;
  padding-right: 10px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal__form-input--comment {
  padding: 10px;
}

.modal__form-label {
  position: absolute;
  top: -20px;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-label--placeholder {
  top: 12px;
  left: 16px;
  font-size: 14px;
  line-height: 1.143;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-field:focus-within > .modal__form-label--placeholder,
.modal__form-input--comment:not(:placeholder-shown) + .modal__form-label--placeholder {
  opacity: 0;
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:focus-within ~ .modal__form-icon {
  fill: #2196f3;
}

.modal__form-checkbox {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.modal__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal__checkbox:focus {
  outline: none;
}

.modal__text-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.modal__text-checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid #212121;
  border-radius: 4px;
  background-image: url(../images/svg/check.svg);
  background-color: #fff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked ~ .modal__text-checkbox::before {
  background-color: #2196f3;
  border: none;
}

.modal__text-checkbox--link {
  color: #2196f3;
  border-bottom: 1px solid #2196f3;
  line-height: 1;
}

.portfolio__list-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -8px;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .portfolio__list-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

.portfolio__list-filter-item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.portfolio__filter-link {
  padding: 6px 22px;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filter-link:hover, .portfolio__filter-link:focus {
  background: #2196f3;
  color: #fff;
}

.portfolio__progect-list {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .portfolio__progect-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__progect {
  max-width: 450px;
  margin: 0 auto;
}

.portfolio__progect:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio__progect:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media (min-width: 768px) {
  .portfolio__progect {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media (min-width: 1200px) {
  .portfolio__progect {
    width: calc((100% - 90px) / 3);
  }
}

.portfolio__progect-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.portfolio__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio__overflay-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  padding: 24px;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__progect:hover .portfolio__overflay-card {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio__overflay-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #fff;
}

.portfolio__name-progect {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__title-subtext {
  line-height: 1, 875;
  color: #757575;
  margin-top: 4px;
}
/*# sourceMappingURL=main.css.map */