.header__menu-btn{
	position: absolute;
	z-index: 2;
	right: 10px;
	outline: none;
	
}

.header__menu-icon {
	display: block;
	background-color: $colorMain;
	fill: $colorIconForm;
	@include transition(fill);
	.header__menu-btn:hover > &{
		fill: $colorDecor;
	}
}



.header__icon-close {
	display: none;
	
}

.header__menu-btn.is-open .header__icon-close {
	display: block;
}

.header__menu-btn.is-open .header__icon-burger {
	display: none;
}
