.header__menu-btn {
	outline: none;
	@media (min-width: 768px) {
		display: none;
	}
}

.header__menu-icon {
	display: block;
	background-color: $colorMain;
	fill: $colorIconForm;
	@include transition(fill);
	.header__menu-btn:hover > & {
		fill: $colorDecor;
	}
}
