.header {
	// position: relative;
    padding: 16px 0;
    border-bottom: 1px solid $colorBorderBottomHeader;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}