.header__contact {
	display: flex;
	align-items: center;
	font-weight: 500;
	line-height: 1.176;
	letter-spacing: 0.02em;
}

@media screen and(max-width: 767px) {
	.header__nav-list {
		margin-bottom: auto;
	}

	.header__menu {
		display: none;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
		padding: 48px 40px;
		background-color: $colorMain;
		&.is-open {
			// display: block;
			display: flex;
			flex-direction: column;
		}
	}

	.header__nav-list-item:not(:last-child) {
		margin-bottom: 32px;
	}

	.header__nav-link {
		font-size: 40px;
		line-height: 1.175;
		letter-spacing: 0.02em;
		color: $colorNav;
	}
	.header__nav-link--current {
		color: $colorHover;
	}
	.header__contacts {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 64px;
		// margin-top: 37.688vh;
	}

	.header__contact {
		font-size: 7.083vw;
	}

	.header__social-links {
		display: flex;
		justify-content: flex-start;
	}

	.header__social-links-item:not(:last-child) {
		padding-right: 10px;
		border-right: 1px solid $colorBorderInput;
		margin-right: 10px;
	}

	.header__social-link {
		font-weight: 500;
		font-size: 3.75vw;
		line-height: 1.222;
		letter-spacing: 0.02em;
		color: $colorDecor;
		@media screen and (min-width: 480px) {
			font-size: 18px;
		}
	}
	.header__contact-icon {
		display: none;
	}
	.header__contacts-item:not(:first-child) {
		margin-bottom: 32px;
	}
	.header__contact-tel {
		color: $colorDecor;
		@media screen and (min-width: 480px) {
			font-size: 34px;
		}
	}
	.header__contact-mail {
		font-size: 5vw;
		line-height: 1.166;
		color: $colorText;
		@media screen and (min-width: 480px) {
			font-size: 24px;
		}
	}
}

// ==========================
// ==== min-width: 768px ====
// ==========================
@media screen and (min-width: 768px) {
	.header__menu-btn,
	.header__social-links {
		display: none;
	}

	.header__menu {
		display: flex;
		align-items: center;
	}

	.header__nav-list {
		display: flex;
	}

	.header__nav-list-item {
		position: relative;
	}

	.header__nav-list-item:not(:last-child) {
		margin-right: 50px;
	}
	.header__nav-link {
		font-weight: 500;
		font-size: 14px;
		line-height: 1.142;
		letter-spacing: 0.02em;
		color: $colorNav;
		padding: 10px 0;
		@include transition(color);
		&:hover {
			color: $colorHover;
		}
	}

	.header__nav-link--current {
		color: $colorHover;
		&::after {
			content: "";
			width: 100%;
			height: 4px;
			background-color: $colorHover;
			position: absolute;
			left: 0;
			bottom: -28px;
			border-radius: 2px;
		}
	}

	.header__contacts-wrapper {
		margin-left: 84px;
	}
	.header__contact {
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.02em;

		color: $colorContact;
		@include transition(color);
		&:hover {
			color: $colorHover;
		}
	}

	.header__contact-icon {
		margin-right: 8px;
		fill: $colorContact;
		.header__contacts-item:hover & {
			fill: $colorHover;
		}
	}
	@media screen and(max-width: 1199px) {
		.header__contacts-item:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}
