.header__menu {
	display: flex;
	align-items: center;
}

.header__nav-list {
	display: flex;
}

.header__nav-list-item {
	position: relative;
	&:not(:last-child) {
		margin-right: 50px;
	}
}

.header__nav-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;
	color: $colorNav;
	padding: 10px 0;
	@include transition(color);
	&:hover {
		color: $colorHover;
	}
}

.header__nav-link--current {
	color: $colorHover;
	&::after {
		content: "";
		width: 100%;
		height: 4px;
		background-color: $colorHover;
		position: absolute;
		left: 0;
		bottom: -31px;
		border-radius: 2px;
	}
}

.header__contacts-wrapper {
	margin-left: 84px;
	@media (min-width: 1200px){
		margin-left: 305px;
	}
}

.header__contacts{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
	@media (min-width: 1200px){
		flex-direction: row;
	}
}

.header__contact {
	display: flex;
    justify-content: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.166;
	letter-spacing: 0.02em;

	color: $colorContact;
	@include transition(color);
	&:hover {
		color: $colorHover;
	}
	@media (min-width: 1200px){
		font-size: 14px;
	line-height: 1.142;
	}
	
}

.header__contact-icon {
	margin-right: 8px;
	fill: $colorContact;
	.header__contacts-item:hover & {
		fill: $colorHover;
	}
}

.header__contacts-item:not(:last-child) {
	@media (max-width: 1199px) {
		margin-bottom: 10px;
	}
	@media (min-width: 1200px){
		margin-right: 30px;
	}
	
}

.header__menu {
	@media (max-width: 768px) {
		display: none;
	}
}
