.portfolio__filter-link {
	padding: 6px 22px;
	background: $colorBackground;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	letter-spacing: 0.03em;
	color: $colorFilter;
	transition: background $cubic-bezier, color $cubic-bezier;
	&:hover,
	&:focus {
		background: $colorDecor;
		color: $colorMain;
	}
}

.portfolio__list-filter {
	display: flex;
	flex-wrap: wrap;
	margin-right: -8px;
	margin-bottom: -15px;
	@media screen and(min-width: 768px) {
		justify-content: center;
	}
}

.portfolio__list-filter-item {
	margin-right: 8px;
	margin-bottom: 15px;
}


