.modal {
	position: relative;
	width: 450px;
	min-height: 609px;
	padding: 40px 41px;
	background: $colorMain;
	border-radius: $borderRadius;
	@include box-shadow;
}

@import "./_close";
@import "./_form";
